{% extends '_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="rtl">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form method="post">
                <h1 class="text-center">ورود</h1>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mt-2">
                        <a class="text-decoration-none" href="{% url 'password_reset' %}">فراموشی رمز عبور</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-3 w-100">ورود</button>
                <div class="line-with-middle-sep">
                  <span>
                    یا
                  </span>
                </div>
                <a href="{% url 'signup' %}" class="btn btn-primary mt-2 mb-3 w-100">ثبت نام</a>
            </form>
        </div>
    </div>
{% endblock %}