{% extends '_base.html' %}

{% block page_title %}جزئیات کتاب {{ book.title }}{% endblock %}

{% block content %}

    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.cover %}
                                    <img class="shadow" src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title }}</h1>
                            <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ book.author }}</h5>
                            <a href="{% url 'book_update' book.id %}">ویرایش</a>
                            <span> | </span>
                            <a href="{% url 'book_delete' book.id %}">حذف</a>
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price }} تومان
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.description|linebreaks }}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% for comment in comments %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{{ comment.user.username }}</h5>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>نظر خود را وارد کنید:</h3>
                        <form method="POST">
                            <div class="form-group py-2">
                                <label class="py-1" for="author_name">نام شما:</label>
                                <input type="text" class="form-control" placeholder="علی علوی" name="author_name">
                            </div>
                            <div class="form-group py-2">
                                <label class="py-1" for="email">ایمیل شما:</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com" name="email">
                            </div>
                            <div class="form-group py-2">
                                <label class="py-1" for="comment_text">متن نظر:</label>
                                <textarea class="form-control" name="text" rows="3"
                                          placeholder="نظر خود را اینجا وارد کنید."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
