{% extends '_base.html' %}

{% block page_title %}جزئیات کتاب {{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title|capfirst }}</h1>
    <p>{{ book.description|linebreaks }}</p>
    <p>{{ book.author }}</p>
    <h4>{{ book.price }}</h4>
    <a href="{% url 'book_update' book.id %}"><button class="btn btn-info" type="button">ویرایش</button></a>
    <a href="{% url 'book_delete' book.id %}"><button class="btn btn-danger" type="button">حذف</button></a>
    <br>
    <a href="{% url 'book_list' %}">لیست همه کتاب‌ها</a>
{% endblock %}
